$dark-1: #173753;
$dark-2: #1b4353;
$light-1: #6daedb;
$light-2: #2892d7;
$mid: #1d70a2;

$complete: #23ae73;

$vanilla: #f433ab;
$vanilla-light: lighten($vanilla, 10%);

$worker: #ff803e;
$worker-light: lighten($worker, 10%);

$wasm: #1b8f00;
$wasm-light: lighten($wasm, 10%);

$gpu: #00ffd8;
$gpu-light: lighten($gpu, 10%);
